*{
  font-family: 'Comfortaa', cursive;
}
body{

}
.nav-deal{
  font-family: 'Comfortaa', cursive;
  height: 5rem;
  padding: 5px;
  text-align: center;
}
nav{
  width: 100%;
  height:10%;
  background-color: silver;
  color: whitesmoke;
}
a{
  color: inherit; 
}
nav ul li:hover {
  color: goldenrod;
  transition: all 0.4s ease-in;
}
.nav1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.nav1 li{
  padding: 5px;
  margin: 10px;
  list-style: none;
  text-decoration: none;
}
.nav2{
  display: flex;
  justify-content:flex-end ;
  align-items: center;
  align-content: center;
}
.nav2 li{
  padding: 5px;
  margin: 10px;
}
main{

}
/* Welcome page w/ video */
.intro-background{
  height: 100vh;
  width: 100vw;
}

.nav3{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  align-content: center;
}
.nav3 li{
  padding: 5px;
  margin: 10px;
}
#search-bar{
  justify-content: end;
}
.intro-video{
  height: 100vh;
  width: 100vw;
}

/* Guiding Principles */
.guiding-principles{
  margin: 3rem 3rem 0rem 3rem;

  height: 120vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}
.guiding-principles-header{
  font-weight: bold;
}
.guiding-principles-article1{
  width: 30%;
  padding: 10px;
  margin: 1rem 1rem;
}
.guiding-principles-article2{
  width: 30%;
  padding: 10px;
  margin: 1rem 1rem;

}
.guiding-principles-article3{
  width: 30%;
  padding: 10px;
  margin: 1rem 1rem;

}
footer{

}