/*Nav Bar Style*/
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
      background-color: #555;
      color: white;
  }
  /*Header*/
  header {
    font-family: 'Playfair Display', serif;
  }
  #heading {
    color: red;
  }