*{

}
body{

}
.nav-deal{
  height: 10%;
  padding: 5px;
  text-align: center;
}
nav{
  width: 100%;
  height:10%;
  background-color: silver;
  color: whitesmoke;
}
a{
  color: inherit; 
}
nav ul li:hover {
  color: goldenrod;
  transition: all 0.4s ease-in;
}
.nav1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.nav1 li{
  padding: 5px;
  margin: 10px;
  list-style: none;
  text-decoration: none;
}
.nav2{
  display: flex;
  justify-content:flex-end ;
  align-items: center;
  align-content: center;
}
.nav2 li{
  padding: 5px;
  margin: 10px;
}
main{

}
/* Welcome page w/ video */
.intro-background{
  height: 100vh;
  width: 100vw;
}

.nav3{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  align-content: center;
}
.nav3 li{
  padding: 5px;
  margin: 10px;
}
#search-bar{
  justify-content: end;
}
.intro-video{
  height: 100vh;
  width: 100vw;
}

/* Guiding Principles */
.guiding-principles{
  
}
footer{

}